@model Disqus.OrchardCore.Settings.DisqusPartSettingsViewModel

<div class="mb-3">
    <label asp-for="ShortName">@T["Short name"]</label>
    <input asp-for="ShortName" class="form-control" />
    <span class="hint">@T["The short name of the site on Disqus."]</span>
</div>