@model DisqusPartViewModel

<div class="form-group">
    <div class="form-check">
        <label class="form-check-label" asp-for="ShowComments">
            <input asp-for="ShowComments" type="checkbox" class="form-check-input" />
            @T["Show comments"]
        </label>
    </div>
</div>