@model DisqusPartViewModel

<div class="form-group">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="ShowComments"/>
        <label class="custom-control-label" asp-for="ShowComments">@T["Show comments"]</label>
    </div>
</div>
