@model DisqusPartViewModel

<div class="mb-3">
    <div class="form-check">
        <input type="checkbox" class="form-check-input" asp-for="HideComments"/>
        <label class="form-check-label" asp-for="HideComments">@T["Hide comments"]</label>
    </div>
</div>
